Resam*.txt
sp*.txt
Series/000.txt
Series/002.txt
Series/003.txt
Series/005.txt
Series/006.txt
Series/007.txt
Series/008.txt
Series/009.txt
Series/010.txt
Series/011.txt
Series/013.txt
Series/16265.txt
Series/16273.txt
Series/16420.txt
Series/16483.txt
Series/16539.txt
Series/16786.txt
Series/16795.txt
Series/17453.txt
Series/18177.txt
Series/18184.txt
Series/19088.txt
Series/19090.txt
Series/19140.txt
Series/4000.txt
Series/4001.txt
Series/4002.txt
Series/4003.txt
Series/4004.txt
Series/4005.txt
Series/4006.txt
Series/4007.txt
Series/4008.txt
Series/4009.txt
Series/4010.txt
Series/4011.txt
Series/4012.txt
Series/4013.txt
Series/4014.txt
Series/4015.txt
Series/4016.txt
Series/4017.txt
Series/4018.txt
Series/4019.txt
Series/401.txt
Series/4020.txt
Series/4021.txt
Series/4022.txt
Series/4024.txt
Series/4025.txt
Series/4026.txt
Series/4027.txt
Series/4028.txt
Series/4029.txt
Series/402.txt
Series/4030.txt
Series/4031.txt
Series/4032.txt
Series/4033.txt
Series/4034.txt
Series/4035.txt
Series/4037.txt
Series/4038.txt
Series/4039.txt
Series/403.txt
Series/4040.txt
Series/4041.txt
Series/4042.txt
Series/4043.txt
Series/4045.txt
Series/4046.txt
Series/4047.txt
Series/4049.txt
Series/404.txt
Series/4050.txt
Series/4051.txt
Series/4052.txt
Series/4054.txt
Series/4055.txt
Series/4056.txt
Series/4058.txt
Series/4059.txt
Series/405.txt
Series/4060.txt
Series/4061.txt
Series/4062.txt
Series/4064.txt
Series/4065.txt
Series/4066.txt
Series/4067.txt
Series/4068.txt
Series/4069.txt
Series/406.txt
Series/4070.txt
Series/4072.txt
Series/4075.txt
Series/4076.txt
Series/4077.txt
Series/407.txt
Series/4081.txt
Series/4082.txt
Series/4083.txt
Series/4084.txt
Series/4085.txt
Series/4086.txt
Series/4087.txt
Series/4088.txt
Series/4089.txt
Series/408.txt
Series/4090.txt
Series/4091.txt
Series/4092.txt
Series/4096.txt
Series/4097.txt
Series/4098.txt
Series/4099.txt
Series/409.txt
Series/4100.txt
Series/4101.txt
Series/4102.txt
Series/4106.txt
Series/4107.txt
Series/4108.txt
Series/4109.txt
Series/410.txt
Series/4110.txt
Series/4111.txt
Series/4112.txt
Series/4113.txt
Series/4114.txt
Series/4115.txt
Series/4116.txt
Series/4117.txt
Series/4118.txt
Series/4119.txt
Series/411.txt
Series/4120.txt
Series/412.txt
Series/413.txt
Series/414.txt
Series/415.txt
Series/416.txt
Series/418.txt
Series/419.txt
Series/420.txt
Series/421.txt
Series/422.txt
Series/423.txt
Series/424.txt
Series/426.txt
Series/427.txt
Series/nsr001RRcl.txt
Series/nsr003RRcl.txt
Series/nsr009RRcl.txt
Series/nsr010RRcl.txt
Series/nsr011RRcl.txt
Series/nsr012RRcl.txt
Series/nsr013RRcl.txt
Series/nsr015RRcl.txt
Series/nsr016RRcl.txt
Series/nsr018RRcl.txt
Series/nsr021RRcl.txt
Series/nsr022RRcl.txt
Series/nsr026RRcl.txt
Series/nsr027RRcl.txt
Series/nsr030RRcl.txt
Series/nsr033RRcl.txt
Series/nsr034RRcl.txt
Series/nsr035RRcl.txt
Series/nsr038RRcl.txt
Series/nsr040RRcl.txt
Series/nsr041RRcl.txt
Series/nsr042RRcl.txt
Series/nsr045RRcl.txt
Series/nsr047RRcl.txt
Series/nsr048RRcl.txt
Series/nsr049RRcl.txt
Series/nsr051RRcl.txt
Series/nsr054RRcl.txt
LF_graph.asv
media_std.asv
